@charset "utf-8";
body {
  font-family: "맑은 고딕";
}
* {
  margin: 0;
  padding: 0;
}
div {
  width: 640px;
  border: 2px solid red;
  padding: 36px 24px;
  margin: 0 auto;
}

div h1 {
  text-align: center;
  background-color: yellow;
  padding: 22px 0 16px;
  margin-bottom: 25px;
}
.top {
  color: blue;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 20px;
}
.top2 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}
.box {
  text-align: center;
  background-color: #d3d3d3;
  padding: 16px;
  font-weight: 500;
  margin-bottom: 20px;
}
div ul {
  margin: 42px 42px;
}
.bottom1,
.last {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 48px;
}

.last {
  margin-bottom: 36;
}
.event {
  font-size: 14px;
  background-color: #850082;
  padding: 8px 5px;
  color: #fff;
}
